*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  --color-primary: hsl(212, 100%, 50%);
  --color-primary-m: hsl(212, 100%, 40%);
  --color-secondary: rgb(22, 22, 22);
  --color-quinary: white; }

:root {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.9; }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content); }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  font-weight: 300;
  letter-spacing: .2rem;
  font-size: calc(1.2rem + 0.5vw); }

.header {
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/headerbg.jpeg"); }
  .header__nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4rem; }
    .header__nav--list {
      display: flex;
      gap: 2rem; }
  .header__heading {
    color: var(--color-quinary);
    -webkit-font-smoothing: antialiased; }

.about {
  background-color: var(--color-quinary);
  height: 600px;
  grid-column: center-start / center-end; }

.services {
  height: 600px;
  grid-column: center-start / center-end;
  background-color: orange; }

.customers {
  height: 600px;
  background-color: crimson;
  grid-column: container-start / container-end; }

.portfolio {
  height: 600px;
  background-color: royalblue;
  grid-column: center-start / center-end; }

.testimonials {
  height: 600px;
  background-color: antiquewhite;
  grid-column: container-start / container-end; }

.blog {
  height: 600px;
  background-color: cadetblue;
  grid-column: center-start / center-end; }

.contact {
  height: 600px;
  background-color: tomato;
  grid-column: container-start / container-end; }

.footer {
  height: 600px;
  background-color: thistle;
  grid-column: container-start / container-end; }

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
