::selection {
  background-color: var(--color-primary);
  color: var(--color-quinary); }

.scroll-container {
  position: fixed;
  bottom: 45rem;
  right: 4rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
  cursor: pointer;
  display: grid;
  place-items: center; }
  .scroll-container .scroll {
    height: 4rem;
    width: 4rem;
    mask-image: url(../images/arrow.svg);
    -webkit-mask-image: url(../images/arrow.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: var(--color-quinary); }

.scroll-container.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  --color-primary: rgb(0,120,255);
  --color-primary-m: rgb(205,225,248);
  --color-secondary: rgb(22, 22, 22);
  --color-quinary: white;
  --color-black: rgb(30, 30, 30);
  --color-gray: rgb(39,34,45); }

:root {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.9; }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
  background-color: whitesmoke; }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: calc(.9rem + 0.5vw); }

.header {
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../images/headerbg.jpeg"); }
  .header__nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4rem;
    transition: all 0.4s ease-in-out; }
    .header__nav--logo {
      font-size: calc(1rem + 1vw);
      color: var(--color-quinary);
      font-weight: 500;
      letter-spacing: 0.2rem; }
    .header__nav--list {
      display: flex;
      gap: 2rem; }
      .header__nav--list__item--link {
        color: var(--color-quinary);
        position: relative; }
        .header__nav--list__item--link::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: var(--color-quinary);
          bottom: -5%;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease-in-out; }
        .header__nav--list__item--link:hover::before {
          transform: scaleX(1); }
      .header__nav--list__item:nth-child(odd) {
        animation: upwards 1s forwards; }
      .header__nav--list__item:nth-child(even) {
        animation: downwards 1s forwards; }
  .header__headings {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%; }
    .header__headings--h1 {
      color: var(--color-quinary);
      -webkit-font-smoothing: antialiased;
      font-size: 4rem;
      letter-spacing: 6px;
      font-weight: 700;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .header__headings--typing-text {
      font-size: 3rem;
      font-weight: 600;
      font-family: monospace;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid white;
      animation: blink-caret 0.5s step-end infinite;
      display: inline-block;
      color: var(--color-quinary); }
  @media screen and (max-width: 600px) {
    .header__nav {
      width: 25rem;
      background-color: var(--color-quinary);
      height: 100%;
      position: fixed;
      top: -100rem;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      opacity: 0; }
      .header__nav--list {
        flex-direction: column;
        width: 100%;
        align-items: center; }
        .header__nav--list__item--link {
          color: black;
          font-size: calc(1rem + 1vw) !important; }
          .header__nav--list__item--link::before {
            background-color: var(--color-black); } }

.hamburger-menu {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  display: block;
  background-color: #000;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  opacity: 0;
  visibility: hidden; }
  .hamburger-menu__span-1, .hamburger-menu__span-2, .hamburger-menu__span-3 {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    transition: all 0.3s ease-in-out; }

.clicked {
  top: 0;
  opacity: 1;
  transition: all 0.4s ease-in-out; }

.span-2-clicked {
  opacity: 0; }

.span-1-clicked {
  transform: translateY(1rem) rotateZ(-45deg); }

.span-3-clicked {
  transform: translateY(-1rem) rotateZ(45deg); }

@media screen and (max-width: 600px) {
  .hamburger-menu {
    visibility: visible;
    opacity: 1;
    z-index: 2000; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: white; } }

@keyframes upwards {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes downwards {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  background-color: white;
  margin: 6rem 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  gap: 3rem; }
  .about__skills {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .about__skills--top {
      display: flex;
      gap: 6rem;
      margin-top: 2rem; }
      .about__skills--top__image {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        border-radius: 5px; }
      .about__skills--top__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .about__skills--top__content--div {
          display: flex;
          align-items: center;
          gap: .5rem; }
          .about__skills--top__content--div h4 {
            font-size: 1.6rem;
            color: black;
            font-weight: 400; }
          .about__skills--top__content--div span {
            font-size: 1.4rem;
            color: gray; }
    .about__skills--bottom__heading {
      font-size: calc(1rem + .5vw);
      font-weight: 600;
      color: var(--color-black);
      letter-spacing: 0.5px; }
    .about__skills--bottom__skill {
      margin: 1.5rem 0; }
      .about__skills--bottom__skill span {
        font-size: calc(1rem + .5vw);
        font-weight: 300; }
      .about__skills--bottom__skill div {
        height: 1.3rem;
        background-color: var(--color-primary-m); }
        .about__skills--bottom__skill div span {
          display: block;
          height: 100%;
          background-color: var(--color-primary); }
        .about__skills--bottom__skill div .progress-1 {
          width: 85%; }
        .about__skills--bottom__skill div .progress-2 {
          width: 75%; }
        .about__skills--bottom__skill div .progress-3 {
          width: 50%; }
        .about__skills--bottom__skill div .progress-4 {
          width: 90%; }
  .about__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem; }
    .about__content--heading {
      font-size: calc(1rem + 1vw);
      font-weight: 500;
      position: relative; }
      .about__content--heading::before {
        content: '';
        position: absolute;
        height: .5rem;
        width: 20%;
        background-color: var(--color-primary);
        bottom: 0; }
    .about__content--para {
      font-size: calc(.9rem + 0.5vw);
      font-weight: 200;
      color: var(--color-black);
      text-align: justify; }
  @media screen and (max-width: 1000px) {
    .about {
      margin: 2rem; }
      .about__content {
        padding: 0;
        margin-top: 1rem; } }
  @media screen and (max-width: 600px) {
    .about {
      margin: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
      .about__content--para {
        font-size: 1.6rem; }
      .about__skills--top {
        flex-direction: column;
        gap: 1rem; }
        .about__skills--top__content--div {
          margin-top: 1rem; } }

.services {
  grid-column: center-start / center-end; }
  .services__top {
    text-align: center;
    margin-bottom: 5rem; }
    .services__top--heading {
      font-size: calc(1.5rem + 3vw);
      text-transform: uppercase;
      font-weight: 500; }
    .services__top--para {
      font-size: calc(1rem + .5vw);
      font-weight: 300; }
  .services__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem;
    margin-bottom: 2rem; }
    .services__content--card {
      background-color: var(--color-quinary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem 1rem;
      border-radius: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; }
      .services__content--card__svg-container {
        height: 12rem;
        width: 12rem;
        border: 8px solid var(--color-primary);
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: all .4s ease; }
        .services__content--card__svg-container:hover {
          background-color: var(--color-primary);
          border-color: var(--color-primary-m); }
      .services__content--card__svg-container:hover > .services__content--card__svg {
        background-color: var(--color-quinary); }
      .services__content--card__svg {
        height: 6rem;
        width: 6rem;
        mask-size: cover;
        -webkit-mask-size: cover;
        background-color: var(--color-black); }
      .services__content--card__heading {
        font-size: calc(1rem + 1vw);
        text-transform: uppercase;
        font-weight: 500; }
      .services__content--card__para {
        font-size: calc(.9rem + 0.5vw);
        text-align: center;
        font-weight: 300; }
  .services__svg-bag {
    mask-image: url(../images/bag.svg);
    -webkit-mask-image: url(../images/bag.svg); }
  .services__svg-binoculars {
    mask-image: url(../images/binoculars.svg);
    -webkit-mask-image: url(../images/binoculars.svg); }
  .services__svg-graph {
    mask-image: url(../images/graph.svg);
    -webkit-mask-image: url(../images/graph.svg); }
  .services__svg-list {
    mask-image: url(../images/list.svg);
    -webkit-mask-image: url(../images/list.svg); }
  .services__svg-schedule {
    mask-image: url(../images/schedule.svg);
    -webkit-mask-image: url(../images/schedule.svg); }
  .services__svg-sun {
    mask-image: url(../images/sun.svg);
    -webkit-mask-image: url(../images/sun.svg); }
  @media screen and (max-width: 1000px) {
    .services {
      padding: 0 2rem; } }
  @media screen and (max-width: 800px) {
    .services {
      padding: 0 1.5rem; }
      .services__content {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  @media screen and (max-width: 600px) {
    .services {
      padding: 0 1rem; }
      .services__content {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
  @media screen and (max-width: 400px) {
    .services__content {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }

.achievements {
  min-height: 50rem;
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(14, 127, 255, 0.8), rgba(14, 127, 255, 0.8)), url("../images/office.jpeg");
  background-attachment: fixed;
  display: grid;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .achievements__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem; }
    .achievements__card h2 {
      font-size: calc(1rem + 1vw);
      font-weight: 500;
      color: var(--color-quinary); }
    .achievements__card span {
      font-size: calc(1rem + .5vw);
      font-weight: 500;
      color: var(--color-quinary);
      text-transform: uppercase;
      text-align: center; }
  .achievements__svg-container {
    height: 10rem;
    width: 10rem;
    border: 8px solid rgba(255, 255, 255, 0.65);
    border-radius: 50%;
    display: grid;
    place-items: center; }
  .achievements__svg {
    height: 5rem;
    width: 5rem;
    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: var(--color-quinary);
    font-weight: 300; }
  .achievements__svg-checkmark {
    mask-image: url(../images/checkmark.svg);
    -webkit-mask-image: url(../images/checkmark.svg); }
  .achievements__svg-quill {
    mask-image: url(../images/quill.svg);
    -webkit-mask-image: url(../images/quill.svg); }
  .achievements__svg-users {
    mask-image: url(../images/users.svg);
    -webkit-mask-image: url(../images/users.svg); }
  .achievements__svg-trophy {
    mask-image: url(../images/trophy.svg);
    -webkit-mask-image: url(../images/trophy.svg); }
  @media screen and (max-width: 800px) {
    .achievements {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }

.portfolio {
  grid-column: container-start / container-end;
  display: grid;
  gap: 4rem; }
  .portfolio__heading {
    text-align: center; }
    .portfolio__heading--h1 {
      font-size: calc(1.5rem + 3vw);
      font-weight: 600;
      letter-spacing: 2px;
      position: relative;
      display: inline-block;
      margin-bottom: 1rem;
      text-transform: uppercase; }
      .portfolio__heading--h1::before {
        content: '';
        position: absolute;
        height: 5px;
        width: 50%;
        background-color: var(--color-primary);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0; }
    .portfolio__heading--para {
      font-size: calc(1rem + .5vw);
      font-weight: 300;
      color: var(--color-gray); }
  .portfolio__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem; }
    .portfolio__cards--card {
      height: 40rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; }
      .portfolio__cards--card__image-div {
        flex: 3;
        overflow: hidden; }
        .portfolio__cards--card__image-div img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          background-position: center;
          transition: all .8s ease;
          cursor: pointer; }
          .portfolio__cards--card__image-div img:hover {
            transform: scale(1.2); }
      .portfolio__cards--card__content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem; }
        .portfolio__cards--card__content div h4 {
          font-size: calc(1rem + .5vw);
          font-weight: 500;
          letter-spacing: 1px; }
        .portfolio__cards--card__content div a {
          font-size: calc(.9rem + 0.5vw); }
        .portfolio__cards--card__content div span {
          font-size: calc(.9rem + 0.5vw);
          font-weight: 300;
          color: gray; }
        .portfolio__cards--card__content button {
          height: 5rem;
          width: 5rem;
          background-color: transparent;
          display: grid;
          place-items: center;
          font-size: 3.5rem;
          border: 3px solid var(--color-primary);
          color: var(--color-primary);
          border-radius: 50%;
          cursor: pointer; }

.testimonials {
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(14, 127, 255, 0.8), rgba(14, 127, 255, 0.8)), url("../images/forest.jpeg");
  background-attachment: fixed;
  text-align: center;
  color: var(--color-quinary); }
  .testimonials .slider {
    border: 1px solid transparent;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem; }
  .testimonials .slide {
    display: none;
    padding: 1rem; }
  .testimonials .slide.active {
    display: block;
    animation: slide-active 1s linear; }
  .testimonials .slide-heading {
    font-size: 1.1rem;
    margin-top: .5rem; }
  .testimonials .paragraph {
    font-size: calc(1rem + .5vw);
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    font-weight: 300; }
  .testimonials .indicator {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center; }
  .testimonials .img {
    height: calc(6rem + 5vw);
    width: calc(6rem + 5vw);
    border-radius: 50%;
    object-fit: cover;
    margin: 3vh 3vw;
    opacity: 0.3;
    border: 0.3rem solid white;
    transition: opacity 1s ease;
    cursor: pointer; }
  .testimonials .img.active {
    opacity: 1; }

@keyframes slide-active {
  0% {
    transform: translateX(-1rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.blog {
  grid-column: container-start / container-end; }
  .blog__heading {
    text-align: center; }
    .blog__heading--h1 {
      font-size: calc(1.5rem + 3vw);
      text-transform: uppercase; }
    .blog__heading--para {
      font-size: calc(.9rem + 0.5vw);
      margin-bottom: 4rem;
      font-weight: 400;
      color: var(--color-gray); }
  .blog__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2.5rem; }
    .blog__cards--card {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      cursor: pointer; }
      .blog__cards--card__image {
        height: 30rem;
        width: 100%;
        object-fit: cover;
        position: relative; }
      .blog__cards--card__topic {
        font-size: calc(1rem + .5vw);
        margin: 0 1rem; }
      .blog__cards--card__para {
        font-size: calc(.9rem + 0.5vw);
        font-weight: 200;
        margin: 0 1rem; }
      .blog__cards--card__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        background-color: #f8f8f8;
        border-top: 1px solid rgba(128, 128, 128, 0.2); }
        .blog__cards--card__bottom--image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .5rem; }
          .blog__cards--card__bottom--image-container img {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            object-fit: cover; }
          .blog__cards--card__bottom--image-container span {
            font-size: calc(.9rem + 0.5vw); }
        .blog__cards--card__bottom--icon-container {
          display: flex;
          align-items: center;
          gap: .5rem; }
          .blog__cards--card__bottom--icon-container object {
            height: 3rem; }
          .blog__cards--card__bottom--icon-container span {
            font-size: calc(.9rem + 0.5vw);
            font-weight: 200; }

.contact {
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(14, 127, 255, 0.8), rgba(14, 127, 255, 0.8)), url("../images/cappadocia.jpeg");
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  padding: 4rem 8rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; }
  .contact__form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    margin: 4rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; }
    .contact__form-container h1 {
      margin-left: 4rem;
      font-size: calc(1.5rem + 1.5vw);
      font-weight: 400;
      position: relative;
      display: inline-block; }
      .contact__form-container h1::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 25%;
        background-color: var(--color-primary);
        bottom: 0; }
    .contact__form-container__form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0 4rem; }
    .contact__form-container__input-container {
      text-align: center; }
      .contact__form-container__input-container input:not([type='submit']) {
        width: 100%;
        padding: 1rem; }
        .contact__form-container__input-container input:not([type='submit'])::placeholder {
          color: rgba(128, 128, 128, 0.7); }
      .contact__form-container__input-container input[type='submit'] {
        padding: 1.6rem 3rem;
        border: none;
        border-radius: 5rem;
        color: var(--color-quinary);
        font-size: calc(1rem + .5vw);
        background-color: var(--color-primary);
        cursor: pointer; }
      .contact__form-container__input-container textarea {
        resize: vertical;
        min-height: 5rem;
        width: 100%;
        padding: 1rem;
        font-size: 14px; }
        .contact__form-container__input-container textarea::placeholder {
          color: rgba(128, 128, 128, 0.6); }
  .contact__content {
    background-color: white;
    margin: 4rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 3rem; }
    .contact__content--h1 {
      font-size: calc(1.5rem + 1.5vw);
      font-weight: 400;
      position: relative;
      display: inline-block; }
      .contact__content--h1::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 25%;
        background-color: var(--color-primary);
        bottom: 0; }
    .contact__content--para {
      font-size: calc(1rem + .5vw);
      font-weight: 200; }
    .contact__content--address li {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      gap: 1rem; }
      .contact__content--address li span {
        font-size: 13px;
        color: var(--color-gray);
        font-weight: 200; }
    .contact__content--address__svg {
      height: 2rem;
      width: 2rem;
      background-color: var(--color-primary);
      mask-size: cover;
      -webkit-mask-size: cover; }
    .contact__content--address__svg-location {
      mask-image: url(../images/location.svg);
      -webkit-mask-image: url(../images/location.svg); }
    .contact__content--address__svg-telephone {
      mask-image: url(../images/telephone.svg);
      -webkit-mask-image: url(../images/telephone.svg); }
    .contact__content--address__svg-email {
      mask-image: url(../images/email.svg);
      -webkit-mask-image: url(../images/email.svg); }
    .contact__content__icon-container ul {
      display: flex;
      margin-bottom: 2rem;
      gap: 2rem; }
    .contact__content__icon-container li {
      padding: 1rem;
      border: 2px solid var(--color-primary);
      border-radius: 50%;
      transition: all .4s ease-in;
      cursor: pointer; }
      .contact__content__icon-container li:hover {
        background-color: var(--color-primary); }
    li:hover > .contact__content__icon-container__svg {
      background-color: var(--color-quinary); }
    .contact__content__icon-container__svg {
      height: 2.5rem;
      width: 2.5rem;
      background-color: var(--color-primary);
      mask-size: cover;
      -webkit-mask-size: cover;
      transition: all .2s ease-in; }
    .contact__content__icon-container__svg-linkedin {
      mask-image: url(../images/linkedin.svg);
      -webkit-mask-image: url(../images/linkedin.svg); }
    .contact__content__icon-container__svg-instagram {
      mask-image: url(../images/instagram.svg);
      -webkit-mask-image: url(../images/instagram.svg); }
    .contact__content__icon-container__svg-facebook {
      mask-image: url(../images/facebook.svg);
      -webkit-mask-image: url(../images/facebook.svg); }
    .contact__content__icon-container__svg-twitter {
      mask-image: url(../images/twitter.svg);
      -webkit-mask-image: url(../images/twitter.svg); }
  @media screen and (max-width: 800px) {
    .contact {
      gap: 0;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); } }
  @media screen and (max-width: 600px) {
    .contact {
      padding: 6vh 4vw;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }

.footer {
  background-color: #005fcc;
  grid-column: container-start / container-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0rem;
  color: var(--color-quinary);
  box-shadow: 0px -5px 2px -3px rgba(0, 0, 0, 0.3); }
  .footer h2 {
    font-size: calc(.9rem + 0.5vw);
    font-weight: 200; }
    .footer h2 span {
      font-weight: 700; }
  .footer h3 {
    font-size: calc(.9rem + 0.5vw);
    font-weight: 200; }

.header, .achievements, .testimonials, .contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.about, .achievements, .portfolio, .testimonials, .blog {
  padding: 6vh 4vw; }
