*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  --color-primary: rgb(0,120,255);
  --color-primary-m: rgb(205,225,248);
  --color-secondary: rgb(22, 22, 22);
  --color-quinary: white;
  --color-black: rgb(30, 30, 30); }

:root {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.9; }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
  background-color: whitesmoke; }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: calc(1rem + 0.5vw); }

.header {
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../images/headerbg.jpeg"); }
  .header__nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4rem; }
    .header__nav--logo {
      font-size: calc(1rem + .5vw);
      color: var(--color-quinary);
      font-weight: 500;
      letter-spacing: 0.2rem; }
    .header__nav--list {
      display: flex;
      gap: 2rem; }
      .header__nav--list__item--link {
        color: var(--color-quinary);
        position: relative; }
        .header__nav--list__item--link::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: var(--color-quinary);
          bottom: -5%;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease-in-out; }
        .header__nav--list__item--link:hover::before {
          transform: scaleX(1); }
      .header__nav--list__item:nth-child(odd) {
        animation: upwards 1s forwards; }
      .header__nav--list__item:nth-child(even) {
        animation: downwards 1s forwards; }
  .header__headings {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%; }
    .header__headings--h1 {
      color: var(--color-quinary);
      -webkit-font-smoothing: antialiased;
      font-size: 6rem;
      letter-spacing: 6px;
      font-weight: 700; }
    .header__headings--typing-text {
      font-size: 4rem;
      font-weight: 600;
      font-family: monospace;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid white;
      animation: blink-caret 0.5s step-end infinite;
      display: inline-block;
      color: var(--color-quinary); }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: white; } }

@keyframes upwards {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes downwards {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  background-color: white;
  margin: 6rem 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; }
  .about__skills--top {
    display: flex;
    gap: 6rem; }
    .about__skills--top__image {
      width: 18rem;
      height: 18rem;
      object-fit: cover;
      border-radius: 5px; }
    .about__skills--top__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .about__skills--top__content--div {
        display: flex;
        align-items: center;
        gap: .5rem; }
        .about__skills--top__content--div h4 {
          font-size: 1.6rem;
          color: black;
          font-weight: 400; }
        .about__skills--top__content--div span {
          font-size: 1.4rem;
          color: gray; }
  .about__skills--bottom {
    background-color: yellow; }
    .about__skills--bottom__skill span {
      font-size: calc(1rem + .5vw); }
    .about__skills--bottom__skill div {
      height: 1.3rem;
      background-color: var(--color-primary-m); }
      .about__skills--bottom__skill div span {
        display: block;
        height: 100%;
        background-color: var(--color-primary); }

.services {
  height: 600px;
  grid-column: center-start / center-end;
  background-color: orange; }

.customers {
  height: 600px;
  background-color: crimson;
  grid-column: container-start / container-end; }

.portfolio {
  height: 600px;
  background-color: royalblue;
  grid-column: center-start / center-end; }

.testimonials {
  height: 600px;
  background-color: antiquewhite;
  grid-column: container-start / container-end; }

.blog {
  height: 600px;
  background-color: cadetblue;
  grid-column: center-start / center-end; }

.contact {
  height: 600px;
  background-color: tomato;
  grid-column: container-start / container-end; }

.footer {
  height: 600px;
  background-color: thistle;
  grid-column: container-start / container-end; }

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.about {
  padding: 6vh 4vw; }
