html {
    --color-primary: rgb(0,120,255);
    --color-primary-m: rgb(205,225,248);
    --color-secondary: rgb(22, 22, 22);
    --color-quinary: white;
    --color-black: rgb(30, 30, 30);
    --color-gray: rgb(39,34,45);
  }

  $font-weights: (
    'font-weight-thin': 200,
    'font-weight-light': 300,
    'font-weight-regular': 400,
    'font-weight-medium': 500,
    'font-weight-bold': 600,
    'font-weight-extra-bold': 700,
    'font-weight-black': 800,
  ); 
  
  @function font-weight($font-weight-style) {
    @return map-get($font-weights, $font-weight-style);
  }

  $font-sizes: (
    'font-size-small': calc(1rem + 0.5vw),
    'font-size-regular': calc(1rem + .5vw),
    'font-size-medium': calc(1rem + 1.5vw),
    'font-size-large': calc(1.5rem + 4vw),
    'font-size-xlarge': calc(2.5rem + 5vw),
  );

  @function font-size($font-size-style) {
    @return map-get($font-sizes, $font-size-style);
  }

  $break-points: (
    "break-point-small": 400px,
    "break-point-medium": 600px,
    "break-point-tablet": 800px,
    "break-point-large": 1000px,
    "break-point-desktop": 1300px,
 );

 @function break-point($break-point-limit) {
    @return map-get($break-points, $break-point-limit);
 };