.header {
  grid-column: container-start / container-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("../images/headerbg.jpeg");
  @extend %bg;

  &__nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4rem;
    &--logo {
      font-size: font-size(font-size-regular);
      color: var(--color-quinary);
      font-weight: font-weight(font-weight-medium);
      letter-spacing: 0.2rem;
    }
    &--list {
      display: flex;
      gap: 2rem;
      &__item {
        &--link {
          color: var(--color-quinary);
          position: relative;
          &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--color-quinary);
            bottom: -5%;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.4s ease-in-out;
          }
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
      &__item:nth-child(odd) {
        animation: upwards 1s forwards;
      }
      &__item:nth-child(even){
        animation: downwards 1s forwards;
      }
    }
  }
  &__headings {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    &--h1 {
      color: var(--color-quinary);
      -webkit-font-smoothing: antialiased;
      font-size: 6rem;
      letter-spacing: 6px;
      font-weight: font-weight(font-weight-extra-bold);
    }
    &--typing-text {
        font-size: 4rem;
        font-weight: 600;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid white;
        animation: blink-caret 0.5s step-end infinite;
        display: inline-block;
        color: var(--color-quinary);
    }
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes upwards{
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes downwards {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
