.achievements {
    min-height: 50rem;
    grid-column: container-start / container-end;
    background-image: linear-gradient(rgba(14, 127, 255, 0.8), rgba(14, 127, 255, 0.8)), url('../images/office.jpeg');
    background-attachment: fixed;
    @extend %bg;
    @extend %sec-padding;
    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
        
        h2 {
            font-size: font-size(font-size-medium);
            font-weight: font-weight(font-weight-medium);
            color: var(--color-quinary);
        }
        span {
            font-size: font-size(font-size-regular);
            font-weight: font-weight(font-weight-medium);
            color: var(--color-quinary);
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__svg-container {
        height: 10rem;
        width: 10rem;
        border: 8px solid rgba(255,255,255,.65);
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
    &__svg {
        height: 5rem;
        width: 5rem;
        mask-size: cover;
        -webkit-mask-size: cover;
        background-color: var(--color-quinary);
        font-weight: font-weight(font-weight-light);
    }
    @include svg-mask(checkmark);
    @include svg-mask(quill);
    @include svg-mask(users);
    @include svg-mask(trophy);

    @include media-tablet {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}