.portfolio {
    grid-column: container-start / container-end;
    @extend %sec-padding;
    display: grid;
    gap: 4rem;
    &__heading {
        text-align: center;
        &--h1 {
            font-size: font-size(font-size-large);
            font-weight: font-weight(font-weight-bold);
            letter-spacing: 2px;
            position: relative;
            display: inline-block;
            margin-bottom: 1rem;
            text-transform: uppercase;
            &::before {
                content: '';
                position: absolute;
                height: 5px;
                width: 50%;
                background-color: var(--color-primary);
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
        }
        &--para {
            font-size: font-size(font-size-regular);
            font-weight: font-weight(font-weight-light);
            color: var(--color-gray);
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 4rem;
        &--card{
            height: 40rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            border-radius: 2px;
            overflow: hidden;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
            &__image-div{
                flex: 3;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    background-position: center;
                    transition: all .8s ease;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            &__content {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2rem;
                div{
                    h4{
                        font-size: font-size(font-size-regular);
                        font-weight: font-weight(font-weight-medium);
                        letter-spacing: 1px;
                    }
                    a{
                        font-size: font-size(font-size-small);
                    }
                    span {
                        font-size: font-size(font-size-small);
                        font-weight: font-weight(font-weight-light);
                        color: gray;
                    }
                }
                button {
                    height: 5rem;
                    width: 5rem;
                    background-color: transparent;
                    display: grid;
                    place-items: center;
                    font-size: 3.5rem;
                    border: 3px solid var(--color-primary);
                    color: var(--color-primary);
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}