@mixin media-desktop {
    @media screen and (min-width: break-point(break-point-desktop)) {
        @content;
    }
}

@mixin media-large {
    @media screen and (max-width: break-point(break-point-large)) {
        @content;
    }
}

@mixin media-tablet {
    @media screen and (max-width: break-point(break-point-tablet)) {
        @content;
    }
}

@mixin media-medium {
    @media screen and (max-width: break-point(break-point-medium)) {
        @content;
    }
}

@mixin media-small {
    @media screen and (max-width: break-point(break-point-small)) {
        @content;
    }
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-quinary);
}

@mixin svg-mask($svg-class) {
    &__svg-#{$svg-class} {
      mask-image: url(../images/#{$svg-class}.svg);
      -webkit-mask-image: url(../images/#{$svg-class}.svg);
    }
  }
  .scroll-container {
    position: fixed;
    bottom: 45rem;
    right: 4rem;
    height: 5rem;
    width: 5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    cursor: pointer;
    display: grid;
    place-items: center;
    .scroll {
        height: 4rem;
        width: 4rem;
        mask-image: url(../images/arrow.svg);
        -webkit-mask-image: url(../images/arrow.svg);
        mask-size: cover;
        -webkit-mask-size: cover;
        background-color: var(--color-quinary);
    }
  }
.scroll-container.active {
    visibility: visible;
    opacity: 1;
    bottom: 4rem;
}


@import "1.reset.scss";
@import "2.variables.scss";
@import "3.utilities.scss";
@import "4.header.scss";
@import "5.about.scss";
@import "6.services.scss";
@import "7.achievements.scss";
@import "8.portfolio.scss";
@import "9.testimonials.scss";
@import "10.blog.scss";
@import "11.contact.scss";
@import "12.footer.scss";
@import '13.placeholders.scss';